<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <title>BookWorm</title>
  </head>
  <header>

 <header>

  <body>

    <%- body -%>


  </body>
</html>
